@import '_mixins';

.container {
  margin-bottom: 2rem;
}

.imgContainer {
  height: 146px;

  @include mediaquery('sm') {
    height: 352px;
  }

  border: 1px solid rgb(82, 82, 82);
}

.footer {
  margin-top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ghImageContainer {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-left: 30px;
}

.liveImg {
  margin-left: 1rem;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
